@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bg-color: #121212;
    --primary-color: #FF6B00;
    --accent-color: #FFD500;
    --text-color: #F5F5F5;
    --font: 'Poppins', 'inter', sans-serif;
}

html,
body {
    width: 100%;
    min-width: 100vw;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: white;
}

header {
    position: relative;
    padding-bottom: 60px;
    background-color: var(--bg-color);
    height: 60px;
}

header nav {
    position: absolute;
    display: flex;
    gap: 650px;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    left: 150px;
    padding-bottom: 10px;
}

header nav .logo {
    display: flex;
    align-items: center;
    gap: 30px;
}

header nav .logo img {
    width: 150px;
}

header nav .logo p {
    font-family: 'inter', sans-serif;
    color: var(--text-color);
    font-size: 20px;
    position: relative;
}

header nav .logo p::after {
    content: '';
    height: 100%;
    width: 2px;
    background-color: white;
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    left: -15px;
}

header nav .user .name {
    display: flex;
    align-items: center;
    gap: 10px;
}

header nav .user .name:hover a {
    text-decoration: underline;
}

header nav .user .name a {
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

header nav .user .name i {
    color: var(--accent-color);
    cursor: pointer;
}

header nav .info {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 120px;
    right: 10px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    width: 200px;
    height: fit-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
    font-size: 14px;
    font-weight: 500;
    font-family: 'poppins', sans-serif;
}

header nav .info a {
    color: var(--bg-color);
    display: flex;
    gap: 15px;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
}

header nav .info i {
    color: var(--bg-color);
    font-size: 18px;
}

.main {
    display: flex;
    align-items: baseline;
    gap: 80px;
    margin-left: 300px;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    width: 55%;
}

.main a i {
    font-size: 20px;
    color: var(--bg-color);
}

.main .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main .text h1 {
    font-size: 40px;
    font-weight: 600;
    color: #000000be;
}

.main .text p {
    font-size: 17px;
    padding-bottom: 20px;
}

.main .text form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: left;
    justify-content: left;
    font-family: 'Poppins', sans-serif;
}

.main .text form .forgot-password {
    font-size: 12px;
}

.input-group {
    position: relative;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.input-group input {
    width: 85%;
    padding: 12px 8px 12px 8px;
    font-size: 16px;
    height: 50px;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: none;
    background: var(--text-color);
}

.input-group label {
    position: absolute;
    left: 8px;
    top: 10px;
    color: #000000c2;
    padding: 0 4px;
    font-size: 16px;
    pointer-events: none;
    transition: 0.2s ease all;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: -15px;
    font-size: 14px;
    backdrop-filter: blur(15px);
    padding: 0px 10px;
    transition: all .5s;
}

.text .check {
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.text form .check p {
    font-size: 14px;
}

.text form button {
    width: 85%;
    height: 50px;
    font-size: 18px;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.text form .cancel {
    width: 100%;
    text-align: center;
    height: fit-content;
    padding: 10px;
    background-color: var(--text-color);
    color: var(--bg-color);
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.text form .cancel:hover {
    background-color: #aaa;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    border-top: 1px solid #00000060;
}

footer a {
    color: var(--bg-color);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    transition: .3s ease-in-out;
}

footer a:hover {
    text-decoration: underline;
    transition: .3s ease-in-out;
}

footer .footer-container {
    display: flex;
    /* justify-content: space-between; */
    gap: 200px;
}

footer .footer-container>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: left;
}

footer .footer-container>div a {
    color: var(--bg-color);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

footer p {
    font-size: 14px;
}

@media (max-width: 600px) {
    header {
        padding-bottom: 60px;
        background-color: var(--bg-color);
        height: 60px;
        width: 100%;
    }
    header nav {
        position: relative;
        top: 30px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 30px;
    }
    header nav .logo {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    header nav .logo img {
        width: 100px;
    }
    header nav .logo p {
        font-family: 'inter', sans-serif;
        color: var(--text-color);
        font-size: 12px;
        position: relative;
    }
    header nav .logo p::after {
        content: '';
        height: 100%;
        width: 2px;
        background-color: white;
        position: absolute;
        top: 53%;
        transform: translateY(-50%);
        left: -15px;
    }
    header nav .user .name {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    header nav .user .name a {
        color: var(--text-color);
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        text-decoration: none;
    }
    header nav .user .name a img {
        width: 30px;
        margin-top: 20px;
        margin-bottom: 5px;
        filter: grayscale(10);
    }
    header nav .user .name i {
        color: var(--accent-color);
        cursor: pointer;
    }
    header nav .info {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 20px;
        top: 90px;
        right: 10px;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
        width: 200px;
        height: fit-content;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
        font-size: 13px;
        font-weight: 500;
        font-family: 'poppins', sans-serif;
    }
    header nav .info a {
        color: var(--bg-color);
        display: flex;
        gap: 15px;
        align-items: center;
        text-decoration: none;
        font-weight: 500;
    }
    header nav .info i {
        color: var(--bg-color);
        font-size: 18px;
    }
    .main {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 10px;
        padding: 20px;
        margin-left: 0px;
        margin-top: 50px;
        font-family: 'Poppins', sans-serif;
        width: 100%;
    }
    .main a i {
        font-size: 20px;
        color: var(--bg-color);
        display: none;
    }
    .main .text {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .main .text h1 {
        font-size: 30px;
        font-weight: 600;
        color: #000000be;
    }
    .main .text p {
        font-size: 14px;
        padding-bottom: 20px;
    }
    .main .text form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: left;
        justify-content: left;
        font-family: 'Poppins', sans-serif;
    }
    .input-group {
        position: relative;
        margin: 10px 0;
        display: flex;
        flex-direction: column;
    }
    .input-group input {
        width: 100%;
        padding: 12px 8px 12px 8px;
        font-size: 16px;
        height: 50px;
        border: 1px solid #aaa;
        border-radius: 4px;
        outline: none;
        background: var(--text-color);
    }
    .input-group label {
        position: absolute;
        left: 8px;
        top: 10px;
        color: #000000c2;
        padding: 0 4px;
        font-size: 14px;
        pointer-events: none;
        transition: 0.2s ease all;
    }
    .input-group input:focus~label,
    .input-group input:valid~label {
        top: -15px;
        font-size: 13px;
        backdrop-filter: blur(15px);
        padding: 0px 10px;
        transition: all .5s;
    }
    .text .check {
        display: flex;
        gap: 10px;
        align-items: baseline;
    }
    .text form .check p {
        font-size: 14px;
    }
    .text form button {
        width: 100%;
        height: 50px;
        font-size: 16px;
        font-family: 'poppins', sans-serif;
        font-weight: 700;
        background-color: var(--primary-color);
        color: var(--text-color);
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .text form .cancel {
        width: 100%;
        text-align: center;
        height: fit-content;
        padding: 10px;
        background-color: var(--text-color);
        color: var(--bg-color);
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
    }
    .text form .cancel:hover {
        background-color: #aaa;
    }
    footer {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 40px;
        margin-top: 150px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 50px;
        border-top: 1px solid #00000060;
    }
    footer a {
        color: var(--bg-color);
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        transition: .3s ease-in-out;
    }
    footer a:hover {
        text-decoration: underline;
        transition: .3s ease-in-out;
    }
    footer .footer-container {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        gap: 10px;
    }
    footer .footer-container>div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: left;
    }
    footer .footer-container>div a {
        color: var(--bg-color);
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
    }
    footer button {
        width: 10%;
        padding: 10px;
        border: 1px solid var(--bg-color);
        background-color: var(--text-color);
        border-radius: 5px;
    }
    footer p {
        font-size: 12px;
    }
}

@media (min-width: 600px) {
    header {
        padding-bottom: 60px;
        background-color: var(--bg-color);
        height: 60px;
        width: 100%;
        padding-right: 30px;
    }
    header nav {
        position: relative;
        top: 30px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 30px;
    }
    header nav .logo {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    header nav .logo img {
        width: 120px;
    }
    header nav .logo p {
        font-family: 'inter', sans-serif;
        color: var(--text-color);
        font-size: 13px;
        position: relative;
    }
    header nav .logo p::after {
        content: '';
        height: 100%;
        width: 2px;
        background-color: white;
        position: absolute;
        top: 53%;
        transform: translateY(-50%);
        left: -15px;
    }
    header nav .user .name {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    header nav .user .name a {
        color: var(--text-color);
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        text-decoration: none;
    }
    header nav .user .name a img {
        width: 30px;
        margin-top: 20px;
        margin-bottom: 5px;
        filter: grayscale(10);
    }
    header nav .user .name i {
        color: var(--accent-color);
        cursor: pointer;
    }
    header nav .info {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 20px;
        top: 110px;
        right: 10px;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
        width: 200px;
        height: fit-content;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
        font-size: 14px;
        font-weight: 500;
        font-family: 'poppins', sans-serif;
    }
    header nav .info a {
        color: var(--bg-color);
        display: flex;
        gap: 15px;
        align-items: center;
        text-decoration: none;
        font-weight: 500;
    }
    header nav .info i {
        color: var(--bg-color);
        font-size: 18px;
    }
    .main {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 20px;
        margin-left: 0px;
        margin-top: 50px;
        font-family: 'Poppins', sans-serif;
        width: 100%;
    }
    .main a i {
        font-size: 20px;
        color: var(--bg-color);
        display: none;
    }
    .main .text {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .main .text h1 {
        font-size: 35px;
        font-weight: 600;
        color: #000000be;
    }
    .main .text p {
        font-size: 14px;
        padding-bottom: 20px;
    }
    .main .text form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: left;
        justify-content: left;
        font-family: 'Poppins', sans-serif;
    }
    .input-group {
        position: relative;
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .input-group input {
        width: 100%;
        padding: 12px 8px 12px 8px;
        font-size: 16px;
        height: 50px;
        border: 1px solid #aaa;
        border-radius: 4px;
        outline: none;
        background: var(--text-color);
    }
    .input-group label {
        position: absolute;
        left: 8px;
        top: 10px;
        color: #000000c2;
        padding: 0 4px;
        font-size: 14px;
        pointer-events: none;
        transition: 0.2s ease all;
    }
    .input-group input:focus~label,
    .input-group input:valid~label {
        top: -15px;
        font-size: 14px;
        backdrop-filter: blur(15px);
        padding: 0px 10px;
        transition: all .5s;
    }
    .text .check {
        display: flex;
        gap: 10px;
        align-items: baseline;
    }
    .text form .check p {
        font-size: 14px;
    }
    .text form button {
        width: 100%;
        height: 50px;
        font-size: 16px;
        font-family: 'poppins', sans-serif;
        font-weight: 700;
        background-color: var(--primary-color);
        color: var(--text-color);
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .text form .cancel {
        width: 100%;
        text-align: center;
        height: fit-content;
        padding: 10px;
        background-color: var(--text-color);
        color: var(--bg-color);
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
    }
    .text form .cancel:hover {
        background-color: #aaa;
    }
    footer {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 40px;
        margin-top: 150px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 50px;
        border-top: 1px solid #00000060;
    }
    footer a {
        color: var(--bg-color);
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        transition: .3s ease-in-out;
    }
    footer a:hover {
        text-decoration: underline;
        transition: .3s ease-in-out;
    }
    footer .footer-container {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        gap: 10px;
    }
    footer .footer-container>div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: left;
    }
    footer .footer-container>div a {
        color: var(--bg-color);
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
    }
    footer button {
        width: 10%;
        padding: 10px;
        border: 1px solid var(--bg-color);
        background-color: var(--text-color);
        border-radius: 5px;
    }
    footer p {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    header {
        padding-bottom: 60px;
        background-color: var(--bg-color);
        height: 60px;
        width: 100%;
        padding-right: 30px;
    }
    header nav {
        position: relative;
        top: 30px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 30px;
    }
    header nav .logo {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    header nav .logo img {
        width: 140px;
    }
    header nav .logo p {
        font-family: 'inter', sans-serif;
        color: var(--text-color);
        font-size: 14px;
        position: relative;
    }
    header nav .logo p::after {
        content: '';
        height: 100%;
        width: 2px;
        background-color: white;
        position: absolute;
        top: 53%;
        transform: translateY(-50%);
        left: -15px;
    }
    header nav .user .name {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    header nav .user .name a {
        color: var(--text-color);
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        text-decoration: none;
    }
    header nav .user .name a img {
        width: 35px;
        margin-top: 20px;
        margin-bottom: 5px;
        filter: grayscale(10);
    }
    header nav .user .name i {
        color: var(--accent-color);
        cursor: pointer;
    }
    header nav .info {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 20px;
        top: 115px;
        right: 10px;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
        width: 200px;
        height: fit-content;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
        font-size: 14px;
        font-weight: 500;
        font-family: 'poppins', sans-serif;
    }
    header nav .info a {
        color: var(--bg-color);
        display: flex;
        gap: 15px;
        align-items: center;
        text-decoration: none;
        font-weight: 500;
    }
    header nav .info i {
        color: var(--bg-color);
        font-size: 18px;
    }
    .main {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 20px;
        margin-left: 0px;
        margin-top: 50px;
        font-family: 'Poppins', sans-serif;
        width: 100%;
    }
    .main a i {
        font-size: 20px;
        color: var(--bg-color);
        display: none;
    }
    .main .text {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .main .text h1 {
        font-size: 35px;
        font-weight: 600;
        color: #000000be;
    }
    .main .text p {
        font-size: 14px;
        padding-bottom: 20px;
    }
    .main .text form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: left;
        justify-content: left;
        font-family: 'Poppins', sans-serif;
    }
    .input-group {
        position: relative;
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .input-group input {
        width: 100%;
        padding: 12px 8px 12px 8px;
        font-size: 16px;
        height: 55px;
        border: 1px solid #aaa;
        border-radius: 4px;
        outline: none;
        background: var(--text-color);
    }
    .input-group label {
        position: absolute;
        left: 8px;
        top: 10px;
        color: #000000c2;
        padding: 0 4px;
        font-size: 14px;
        pointer-events: none;
        transition: 0.2s ease all;
    }
    .input-group input:focus~label,
    .input-group input:valid~label {
        top: -15px;
        font-size: 14px;
        backdrop-filter: blur(15px);
        padding: 0px 10px;
        transition: all .5s;
    }
    .text .check {
        display: flex;
        gap: 10px;
        align-items: baseline;
    }
    .text form .check p {
        font-size: 14px;
    }
    .text form button {
        width: 100%;
        height: 50px;
        font-size: 16px;
        font-family: 'poppins', sans-serif;
        font-weight: 700;
        background-color: var(--primary-color);
        color: var(--text-color);
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .text form .cancel {
        width: 100%;
        text-align: center;
        height: fit-content;
        padding: 10px;
        background-color: var(--text-color);
        color: var(--bg-color);
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
    }
    .text form .cancel:hover {
        background-color: #aaa;
    }
    footer {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 40px;
        margin-top: 150px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 50px;
        border-top: 1px solid #00000060;
    }
    footer a {
        color: var(--bg-color);
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        transition: .3s ease-in-out;
    }
    footer a:hover {
        text-decoration: underline;
        transition: .3s ease-in-out;
    }
    footer .footer-container {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        gap: 10px;
    }
    footer .footer-container>div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: left;
    }
    footer .footer-container>div a {
        color: var(--bg-color);
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
    }
    footer button {
        width: 10%;
        padding: 10px;
        border: 1px solid var(--bg-color);
        background-color: var(--text-color);
        border-radius: 5px;
    }
    footer p {
        font-size: 13px;
    }
}

@media (min-width: 992px) {
    header {
        padding-bottom: 60px;
        background-color: var(--bg-color);
        height: 60px;
        width: 100%;
    }
    header nav {
        position: relative;
        top: 30px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 30px;
    }
    header nav .logo {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    header nav .logo img {
        width: 140px;
    }
    header nav .logo p {
        font-family: 'inter', sans-serif;
        color: var(--text-color);
        font-size: 15px;
        position: relative;
    }
    header nav .logo p::after {
        content: '';
        height: 100%;
        width: 2px;
        background-color: white;
        position: absolute;
        top: 53%;
        transform: translateY(-50%);
        left: -15px;
    }
    header nav .user .name {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    header nav .user .name a {
        color: var(--text-color);
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        text-decoration: none;
    }
    header nav .user .name a img {
        width: 50px;
        margin-top: 20px;
        margin-bottom: 5px;
        filter: grayscale(10);
    }
    header nav .user .name i {
        color: var(--accent-color);
        cursor: pointer;
    }
    header nav .info {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 20px;
        top: 120px;
        right: 10px;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
        width: 250px;
        height: fit-content;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
        font-size: 16px;
        font-weight: 500;
        font-family: 'poppins', sans-serif;
    }
    header nav .info a {
        color: var(--bg-color);
        display: flex;
        gap: 15px;
        align-items: center;
        text-decoration: none;
        font-weight: 500;
    }
    header nav .info i {
        color: var(--bg-color);
        font-size: 18px;
    }
    .main {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 20px;
        margin-left: 0px;
        margin-top: 50px;
        font-family: 'Poppins', sans-serif;
        width: 100%;
    }
    .main a i {
        font-size: 20px;
        color: var(--bg-color);
        display: none;
    }
    .main .text {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .main .text h1 {
        font-size: 40px;
        font-weight: 600;
        color: #000000be;
    }
    .main .text p {
        font-size: 16px;
        padding-bottom: 20px;
    }
    .main .text form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: left;
        justify-content: left;
        font-family: 'Poppins', sans-serif;
    }
    .input-group {
        position: relative;
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .input-group input {
        width: 100%;
        padding: 12px 8px 12px 8px;
        font-size: 16px;
        height: 55px;
        border: 1px solid #aaa;
        border-radius: 4px;
        outline: none;
        background: var(--text-color);
    }
    .input-group label {
        position: absolute;
        left: 8px;
        top: 10px;
        color: #000000c2;
        padding: 0 4px;
        font-size: 14px;
        pointer-events: none;
        transition: 0.2s ease all;
    }
    .input-group input:focus~label,
    .input-group input:valid~label {
        top: -15px;
        font-size: 14px;
        backdrop-filter: blur(15px);
        padding: 0px 10px;
        transition: all .5s;
    }
    .text .check {
        display: flex;
        gap: 10px;
        align-items: baseline;
    }
    .text form .check p {
        font-size: 14px;
    }
    .text form button {
        width: 100%;
        height: 50px;
        font-size: 16px;
        font-family: 'poppins', sans-serif;
        font-weight: 700;
        background-color: var(--primary-color);
        color: var(--text-color);
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .text form .cancel {
        width: 100%;
        text-align: center;
        height: fit-content;
        padding: 10px;
        background-color: var(--text-color);
        color: var(--bg-color);
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
    }
    .text form .cancel:hover {
        background-color: #aaa;
    }
    footer {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 40px;
        margin-top: 150px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 50px;
        border-top: 1px solid #00000060;
    }
    footer a {
        color: var(--bg-color);
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        transition: .3s ease-in-out;
    }
    footer a:hover {
        text-decoration: underline;
        transition: .3s ease-in-out;
    }
    footer .footer-container {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        gap: 10px;
    }
    footer .footer-container>div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: left;
    }
    footer .footer-container>div a {
        color: var(--bg-color);
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
    }
    footer button {
        width: 10%;
        padding: 10px;
        border: 1px solid var(--bg-color);
        background-color: var(--text-color);
        border-radius: 5px;
    }
    footer p {
        font-size: 13px;
    }
}

@media (min-width: 1200px) {
    header {
        padding-bottom: 60px;
        background-color: var(--bg-color);
        height: 60px;
        width: 100%;
    }
    header nav {
        position: relative;
        top: 30px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 30px;
    }
    header nav .logo {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    header nav .logo img {
        width: 150px;
    }
    header nav .logo p {
        font-family: 'inter', sans-serif;
        color: var(--text-color);
        font-size: 15px;
        position: relative;
    }
    header nav .logo p::after {
        content: '';
        height: 100%;
        width: 2px;
        background-color: white;
        position: absolute;
        top: 53%;
        transform: translateY(-50%);
        left: -15px;
    }
    header nav .user .name {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    header nav .user .name a {
        color: var(--text-color);
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        text-decoration: none;
    }
    header nav .user .name a img {
        width: 50px;
        margin-top: 20px;
        margin-bottom: 5px;
        filter: grayscale(10);
    }
    header nav .user .name i {
        color: var(--accent-color);
        cursor: pointer;
    }
    header nav .info {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 20px;
        top: 130px;
        right: 10px;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
        width: 250px;
        height: fit-content;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
        font-size: 16px;
        font-weight: 500;
        font-family: 'poppins', sans-serif;
    }
    header nav .info a {
        color: var(--bg-color);
        display: flex;
        gap: 15px;
        align-items: center;
        text-decoration: none;
        font-weight: 500;
    }
    header nav .info i {
        color: var(--bg-color);
        font-size: 18px;
    }
    .main {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 20px;
        margin-left: 0px;
        margin-top: 50px;
        font-family: 'Poppins', sans-serif;
        width: 100%;
    }
    .main a i {
        font-size: 20px;
        color: var(--bg-color);
        display: none;
    }
    .main .text {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .main .text h1 {
        font-size: 45px;
        font-weight: 600;
        color: #000000be;
    }
    .main .text p {
        font-size: 16px;
        padding-bottom: 20px;
    }
    .main .text form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: left;
        justify-content: left;
        font-family: 'Poppins', sans-serif;
    }
    .input-group {
        position: relative;
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .input-group input {
        width: 100%;
        padding: 12px 8px 12px 8px;
        font-size: 16px;
        height: 55px;
        border: 1px solid #aaa;
        border-radius: 4px;
        outline: none;
        background: var(--text-color);
    }
    .input-group label {
        position: absolute;
        left: 8px;
        top: 10px;
        color: #000000c2;
        padding: 0 4px;
        font-size: 15px;
        pointer-events: none;
        transition: 0.2s ease all;
    }
    .input-group input:focus~label,
    .input-group input:valid~label {
        top: -15px;
        font-size: 14px;
        backdrop-filter: blur(15px);
        padding: 0px 10px;
        transition: all .5s;
    }
    .text .check {
        display: flex;
        gap: 10px;
        align-items: baseline;
    }
    .text form .check p {
        font-size: 14px;
    }
    .text form button {
        width: 100%;
        height: 50px;
        font-size: 16px;
        font-family: 'poppins', sans-serif;
        font-weight: 700;
        background-color: var(--primary-color);
        color: var(--text-color);
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .text form .cancel {
        width: 100%;
        text-align: center;
        height: fit-content;
        padding: 10px;
        background-color: var(--text-color);
        color: var(--bg-color);
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
    }
    .text form .cancel:hover {
        background-color: #aaa;
    }
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        padding: 40px;
        margin-top: 150px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 50px;
        border-top: 1px solid #00000060;
    }
    footer a {
        color: var(--bg-color);
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        transition: .3s ease-in-out;
    }
    footer a:hover {
        text-decoration: underline;
        transition: .3s ease-in-out;
    }
    footer .footer-container {
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        gap: 80px;
    }
    footer .footer-container>div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: left;
    }
    footer .footer-container>div a {
        color: var(--bg-color);
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
    }
    footer p {
        font-size: 13px;
    }
}